body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    )  no-repeat center center fixed;; 
  }
  
  #app{
    margin: 50px auto;
  }
  #player {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
  }
  #difficulty-bar {
    background-color: #f0f0f0;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
  }

  small {
    font-size: 1rem;
    font-weight: normal;
    color: white;
  }
  .board {
    display: flex;
    flex-direction: column;
  }
  .row {
    display: flex;
  }
  .cell {
    width: 100px;
    height: 100px;
    border: dashed 1px whitesmoke;
    background: linear-gradient(
        270deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
        )  no-repeat center center fixed;
    font-size: 2em;
    font-weight: bold;
    color: whitesmoke;
  }

  button {
    font-size: 2rem;
    background-color: black;
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgb(98, 98, 104)50%,
        rgb(0, 0, 0) 100%
        )  no-repeat center center fixed;
    color: whitesmoke;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 5px 10px;
}